.main-pane {
    -fx-background-image: url("../images/bg.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: stretch;
}

.message-field:focused {
    -fx-faint-focus-color: transparent;
}

.text-area {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}